html {
  height: 100%;
}
body {
  background: #E44235;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-weight: 100;
}

#menu, #timer, #controls, #result {
  width: 100%;

  color: white;
  font-size: 12px;
  font-family: 'Noto Sans CJK TC';
}

.btn{
  width: 50%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background: #DA2F22;
  margin: 10px;

  &:active {
    background: #531810;
    
  }
}
.btn-full{
  width: 100%;
}
.insider {
  padding: 10px;
}

#menu {
  color: white;
  display: flex;
  justify-content: flex-end;
  #setting{
    position: relative;
    top: 2px;
    margin-left: 5px;
    color: white;
    font-size: 20px;
  }
}

#timer {
  flex: 1;
  font-size: 100px;
  text-align: center;
}
.clearfix {
  clear: both;
}
#controls {
  // width: 80%;
  .btn{
    float: left;
  }
  display: flex;
  flex: 1;
  justify-content:space-around;
  align-items: flex-end;
}

#result {
  background-color: #E9EEEF;
  display: flex;
  flex: 1;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;

  .item {
    border-radius: 100%;
    margin: 6px;
    width: 30px;
    height: 30px;
    background: #8A9B9C;
  }

  .item-done {
    background: #E44235;
  }
}

