body {
  background: #E44235;
  margin: 0;
}

#menu, #timer, #controls, #result {
  width: 100%;
}

.insider {
  padding: 10px;
}

#menu {
  color: white;

}

#menu i {
  color: white;
}

#result {
  background-color: #E9EEEF;
  height: 100px;
}